//colours
$bg-grey: #313131;
$fem-colour: #ff00a3;
$male-colour: #0030ff;
$title-font: 'Advent Pro', sans-serif;
$body-font: 'Open Sans', sans-serif;
//typography

//typography scale
$base: 18px;
$type6: $base * 0.84;
$type5: $base;
$type4: $base * 1.19;
$type3: $base * 1.414;
$type2: $base * 1.68;
$type1: $base * 2;

//metrics
$content-width: 980px;