<header>
	<h1>We can do better</h1>
	<p>This is a visualisation of the gender disparity in engineering teams in the tech industry. The size of the bubbles shows the number of engineers of that gender in each team. The distance from the center line respresents the percentage of that gender in the team. Team sizes are revealed on hover.<p> <p>The data is pulled from <a href="https://docs.google.com/spreadsheet/ccc?key=0AlZH8QBl60oodEJTdFA5TlZOcDJCMU02RkZoSHF5SHc#gid=0">this spreadsheet</a>, collected and maintained by <a href="https://twitter.com/triketora">@triketora</a>.</p>
	<p>The creator of this project acknowledges that gender is not always binary, but due to the nature of the data available, only a male/female breakdown is displayed at this time.</p>
	<div id="sort">
		Sort by: 
		<span class="team active"><a id='teamSize'>Team size</a><a class="reverse desc"></a></span>
		<span class="female"><a id="femaleSort"># Female</a><a class="reverse desc"></a></span>
		<span class="male"><a id="maleSort"># Male</a><a class="reverse desc"></a></span>
		<span class="ratio"><a id="ratioSort">Female : Male</a><a class="reverse desc"></a></span>
		<span class="equal"><a id="equalSort">Most Equal</a><a class="reverse desc"></a></span>
	</div>
</header>

<div id="line">
	<div class="scale">
		<span class="all_women">100% Female</span>
		<span class="half_women">50% Female</span>
		<span class="half_men">50% Male</span>
		<span class="all_men">100% Male</span>
	</div>
</div>
<section id="viz">
	<svg id="bubble_graph"></svg>
</section>