<!DOCTYPE html>
<html lang="en">
	<head>
		<title>We Can Do Better</title>
    <meta content="en" http-equiv="Content-Language">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700|Advent+Pro:100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="screen.css">

	</head>
  <body>
  	<%= yield %>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="/js/geo.js"></script>
    <script src="/js/miso.ds.deps.min.0.4.1.js"></script>
    <script src="/lineBubbles.js"></script>
  <footer>
    Created by <a href="http://www.ri.id.au/about">Ri Liu</a>
  </footer>
  </body>
</html>